<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./images/todotitle3.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/home.css" />
    <title><%= title%></title>
  </head>
  <body>
    <div class="col-6">
      <span class="title-container">
        <h1>TODO App</h1>
        <h1><img src="./images/welcome.png" alt="" /></h1>
      </span>
      <form action="/task-form" method="post">
        <div class="desc">
          <label for="desc-input">DESCRIPTION</label>
          <input
            type="text"
            name="description"
            id="desc-input"
            placeholder="What do you need to do?"
            required
          />
        </div>
        <div class="container-2">
          <div class="category">
            <label for="category-select">CATEGORY</label>
            <select name="category" id="category-select" required>
              <option value="">Choose a Category</option>
              <option value="Work">Work</option>
              <option value="Personal">Personal</option>
              <option value="School">School</option>
              <option value="Cleaning">Cleaning</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="due-date">
            <label for="due-date-input">DUE DATE</label>
            <input type="date" name="dueDate" id="date-input" required />
          </div>
        </div>
        <div class="btns">
          <button type="submit" class="add-task">
            <i class="fas fa-plus"></i><span>&ensp;&ensp;&ensp;ADD TASK</span>
          </button>
          <div class="del-tasks">
            <span>
              <i class="fas fa-trash-alt"></i>&ensp;&ensp;DELETE TASKS
            </span>
          </div>
        </div>
      </form>
      <!-- <div class="features">FEATURES</div> -->
    </div>
    <div class="col-4">
      <div class="cat-names">
        <div class="all cat-style"><span>ALL</span></div>
        <div class="work cat-style work-style"><span>WORK</span></div>
        <div class="cleaning cat-style cleaning-style">
          <span>CLEANING</span>
        </div>
        <div class="school cat-style school-style"><span>SCHOOL</span></div>
        <div class="personal cat-style personal-style">
          <span>PERSONAL</span>
        </div>
        <div class="other cat-style other-style"><span>OTHER</span></div>
      </div>
      <div class="task-list">
        <% if(task_list.length==0){%>
        <div class="no-tasks">
          <span>Hooray! You have no tasks remaining of any category.</span>
        </div>
        <%}else {%> <%for(let task of task_list){%>
        <div
          class="<%=task.category.toLowerCase()%> task-1 task-style"
          id="<%if(task.complete==true){%>task-completed<%}%>"
        >
          <%if(task.complete==false){%>
          <input
            type="checkbox"
            data-complete="false"
            data-id="<%= task._id%>"
          />
          <%} else {%>
          <input
            type="checkbox"
            data-complete="true"
            data-id="<%= task._id%>"
            checked
          />
          <%}%>
          <div class="task-detail">
            <div class="task-info"><%= task.description%></div>
            <div class="task-due-date <%=task.dueDate.getTime()%>">
              <i class="fas fa-calendar-alt"></i>
              <%=task.dueDate.toDateString()%>
            </div>
          </div>
          <div class="task-cat <%=task.category.toLowerCase()%>-style">
            <span><%= task.category%></span>
          </div>
        </div>
        <%}%> <%}%>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="./js/home.js"></script>
  </body>
</html>
